body {
  background-image: url('catbackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Rock Salt', cursive;
  font-weight: 400;
  font-style: normal;
}
h1 {
  justify-content: right;
}
#catImage {
  height: 500px;
}
